<header
	th:fragment="header"
	xmlns:th="http://www.thymeleaf.org">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
		<div class="container-fluid">
			<a
				class="navbar-brand"
				th:href="@{/index}">
				<strong>TODO</strong>
			</a>
			<button
				class="navbar-toggler"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div
				class="collapse navbar-collapse"
				id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a
							class="nav-link"
							th:href="@{/user/list}"
							th:if="${login_user.role == 'Admin'}">Users</a>
					</li>
					<li class="nav-item">
						<a
							class="nav-link"
							th:href="@{/todo/list}">Todos</a>
					</li>
				</ul>
				<form class="d-flex">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a
								class="nav-link"
								th:href="@{/user/edit/{id}(id=${login_user.id})}">Profile</a>
						</li>
						<li class="nav-item">
							<a
								class="nav-link"
								th:href="@{/logout}">Logout</a>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</nav>
</header>