<!DOCTYPE HTML>
<html
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layouts/layout}">
<head>
</head>
<body>
	<div
		layout:fragment="content"
		class="container card mb-3">
		<div class="card-header">Edit Todo</div>
		<div class="card-body">
			<div
				class="alert alert-danger"
				th:if="${param.too_long}"
				role="alert">Detail or Description is too long!</div>
			<form
				class="row g-3 needs-validation"
				th:action="@{/todo/edit/{id}(id=${data.id})}"
				th:object="${data}"
				method="post">
				<div class="col-md-7">
					<label
						for="title"
						class="form-label">Title</label>
					<div class="input-group has-validation">
						<input
							type="text"
							class="form-control"
							id="title"
							name="title"
							th:field="*{title}"
							required>
						<div class="invalid-feedback">Please enter title.</div>
					</div>
				</div>
				<div class="col-md-3">
					<label
						for="targetedDate"
						class="form-label">Target Date</label>
					<input
						type="text"
						class="form-control"
						id="targetedDate"
						name="targetedDate"
						th:value="${#dates.format(data.targetedDate, 'dd-MMM-yyyy')}"
						disabled>
				</div>
				<div class="col-md-2">
					<label
						for="status"
						class="form-label">Status</label>
					<select
						id="status"
						class="form-select"
						th:field="*{status}"
						required>
						<option
							th:value="TODO"
							th:text="Todo"></option>
						<option
							th:value="IN_PROGRESS"
							th:text="InProgress"></option>
						<option
							th:value="DONE"
							th:text="Done"></option>
					</select>
					<div class="invalid-feedback">Please choose status.</div>
				</div>
				<div class="col-12">
					<label
						for="description"
						class="form-label">Description</label>
					<input
						type="text"
						class="form-control"
						id="description"
						name="description"
						th:field="*{description}"
						required>
					<div class="invalid-feedback">Please enter description.</div>
				</div>
				<div class="col-12">
					<label
						for="detail"
						class="form-label">Detail</label>
					<textarea
						class="mytextarea"
						id="detail"
						name="detail"
						th:field="*{detail}"></textarea>
				</div>
				<div class="col-12 d-grid gap-2 d-md-flex justify-content-md-end">
					<a
						th:href="@{/todo/list}"
						class="btn btn-secondary">Back</a>
					<button
						type="submit"
						class="btn btn-primary">Update</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>